<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--  <span>HOME</span> -->
     <span>HOME</span>
     <span class="spacer"></span>
     <a  mat-button  routerLink="/register">Register</a>
     <!-- <a  mat-button  *ngIf="login" (cli) routerLink="/login">Login</a>
     <a  mat-button  *ngIf="!login" routerLink="/logout">Logout</a> -->
     <button mat-raised-button (click)="openDialog()">Pick one</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>