<h1 mat-dialog-title>Confirmation</h1>
<!-- Confirmation message -->
<div mat-dialog-content>
  Are you sure you want to {{ confirmationData.action }} <strong>{{ walletTransaction.coin_qty }}</strong>
  {{ walletTransaction.coin_name }}s
  @ $<strong>{{ Math.round(walletTransaction.usd_value * 100) / 100 }}</strong>?
</div>
<div mat-dialog-actions>
  <button mat-button mat-raised-button color="primary" [mat-dialog-close]="true">Confirm</button>
  <button mat-button mat-raised-button color="warn" (click)="close()">Cancel</button>
</div>
