
  <!-- <video autoplay loop muted poster="#">
    <source src="../assets/videos/video2.mp4" type="video/mp4"/>
  </video> -->
  <!-- <adata *ngIf="display" [orders]="orders"></app-order-type-history> -->
  <!-- <app-order-type-history [data]="sellorders"></app-order-type-history> -->
  <h1>Pending / Completed Orders</h1>
  <app-table (notifyparent)="reloadCanceled($event)" [display]="true" [data]="orders"></app-table>
  <br>
  <h1>Canceled Orders</h1>
  <app-table [data]="canceledOrders"></app-table>
  <br><br>
  <!-- <app-table [canceledData]="canceledOrders" [data]="orders"></app-table> -->
