<mat-tab-group (selectedTabChange)="displayTable($event)">
  <mat-tab label="Pending Orders">
    <ng-template matTabContent>
      <h1>Pending Orders</h1>
      <app-table [display]="true" [data]="orders"></app-table>
    </ng-template>
  </mat-tab>
  <mat-tab label="Completed Orders">
    <ng-template matTabContent>
      <h1>Completed Orders</h1>
      <app-table [display]="false" [data]="orders"></app-table>
    </ng-template>
  </mat-tab>
  <mat-tab label="Canceled Orders">
    <ng-template matTabContent>
      <h1>Canceled Orders</h1>
      <app-table *ngIf="orders.length !== 0" [display]="false" [data]="orders"></app-table>
      <h3 *ngIf="orders.length == 0" >No Canceled Orders</h3>
      <mat-spinner *ngIf="orders.length == 0" ></mat-spinner>
    </ng-template>
  </mat-tab>
</mat-tab-group>
