mat-vertical-stepper{
    margin: 1% 10%;
    
    .full-width {
        width: 30%;
        margin-left: 12%;
        margin-top: 1%;
    }
    
    button {
        margin-left: 30%;
        width: 30%;
    }
}

h2{
    margin-left: 42%;
}