<!-- used stepper fromm angular material , it uses form group and  the registration is divided into  4 parts-->
<!-- 2 way interpolation is  used-->
<!-- linear attribute (intialised at the .ts file) : if set to isLinear then it does not allow you to go to  the second part of the form till you complete 1st part and so on-->

<h2>Account Settings</h2>
<mat-vertical-stepper [linear]="isLinear" #stepper>
    
  <div *ngIf="errorMessage">
    <div class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
  </div>
  <!-- 1st part of the form (generalDetailsFormGroup)-->
  <mat-step [stepControl]="generalDetailsFormGroup">
    <form [formGroup]="generalDetailsFormGroup">
      <ng-template matStepLabel>General Information</ng-template>
      <mat-form-field class="full-width">
        <input matInput placeholder="First name" formControlName="fname" [(ngModel)]="user.fname" required>
        <mat-error *ngIf="generalDetailsFormGroup.controls.fname.hasError('required')">
          First Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Last name" formControlName="lname" [(ngModel)]="user.lname" required>
        <mat-error *ngIf="generalDetailsFormGroup.controls.lname.hasError('required')">
          Last Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Email Address" formControlName="emailId" [(ngModel)]="user.emailId" readonly>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Contact Number" formControlName="Phno" [(ngModel)]="user.Phno" required>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-error *ngIf="generalDetailsFormGroup.controls.Phno.hasError('required')">
          Phone number<strong>required</strong>
        </mat-error>
        <mat-error *ngIf="generalDetailsFormGroup.controls.Phno.hasError('pattern')">
          <strong>Enter a valid 10 digit contact number</strong>
        </mat-error>
      </mat-form-field>
      <!-- <div class="full-width">
        <button mat-raised-button matStepperNext color="primary">Continue</button>
      </div> -->
    </form>
  </mat-step>
  <!-- 2nd part of the form(addressDetailsFormGroup)-->
  <mat-step [stepControl]="addressDetailsFormGroup">
    <form [formGroup]="addressDetailsFormGroup">
      <ng-template matStepLabel>Address Details</ng-template>
      <mat-form-field class="full-width">
        <input matInput placeholder="Address 1" formControlName="address1" [(ngModel)]="user.address.address1" required>
        <mat-error *ngIf="addressDetailsFormGroup.controls.address1.hasError('required')">
          Address details are <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Address 2" formControlName="address2" [(ngModel)]="user.address.address2">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="City" formControlName="city" [(ngModel)]="user.address.city" required>
        <mat-error *ngIf="addressDetailsFormGroup.controls.city.hasError('required')">
          City is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Country" formControlName="country" [(ngModel)]="user.address.country" required>
        <mat-error *ngIf="addressDetailsFormGroup.controls.country.hasError('required')">
          Country is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="ZipCode" formControlName="zipcode" [(ngModel)]="user.address.zipcode" required>
        <mat-error *ngIf="addressDetailsFormGroup.controls.zipcode.hasError('required')">
          Zipcode is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="addressDetailsFormGroup.controls.zipcode.hasError('pattern')">
          <strong>Enter a 5 digit zipcode</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </mat-step>
  <!-- 3rd part of the form(paymentDetailsFormGroup)-->
  <mat-step [stepControl]="paymentDetailsFormGroup">
    <form [formGroup]="paymentDetailsFormGroup">
      <ng-template matStepLabel>Payment Details</ng-template>
      <mat-form-field class="full-width">
        <input matInput placeholder="Card Number" formControlName="cardno" [(ngModel)]="user.payment.cardno" required>
        <mat-error *ngIf="paymentDetailsFormGroup.controls.cardno.hasError('pattern')">
          <strong>Enter a 16 digit card number</strong>
        </mat-error>
        <mat-error *ngIf="paymentDetailsFormGroup.controls.cardno.hasError('required')">
          Card Number is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="CVV Number" type="password" formControlName="cvv" [(ngModel)]="user.payment.cvv"
          required>
        <mat-error *ngIf="paymentDetailsFormGroup.controls.cardno.hasError('pattern')">
          <strong>Enter a 3 digit CVV number</strong>
        </mat-error>
        <mat-error *ngIf="paymentDetailsFormGroup.controls.cvv.hasError('required')">
          CVV is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <!-- <input matInput [matDatepicker]="picker" placeholder="Choose a date"  formControlName="expire" [(ngModel)]="user.payment.expire">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
         <input matInput placeholder="Expiry" formControlName="expire" [(ngModel)]="user.payment.expire" required> -->
        <!-- </mat-form-field>  -->
        <input matInput placeholder="Expiry(MM/YY)" formControlName="expire" [(ngModel)]="user.payment.expire" required>
        <mat-error *ngIf="paymentDetailsFormGroup.controls.expire.hasError('pattern')">
          <strong>Enter expiry in MM/YY format</strong>
        </mat-error>
        <mat-error *ngIf="paymentDetailsFormGroup.controls.expire.hasError('required')">
          Expiry is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="CardHolder Name" formControlName="name" [(ngModel)]="user.payment.name" required>
        <mat-error *ngIf="paymentDetailsFormGroup.controls.name.hasError('required')">
          Name on Card is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Zipcode" formControlName="zipcode" [(ngModel)]="user.payment.zipcode" required>
        <mat-error *ngIf="paymentDetailsFormGroup.controls.zipcode.hasError('required')">
          Zipcode is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="paymentDetailsFormGroup.controls.zipcode.hasError('pattern')">
          <strong>Enter a 5 digit zipcode</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </mat-step>
  <!-- 4th part of the form(loginDetailsFormGroup)-->
  <mat-step [stepControl]="changePasswordFormGroup" class="marginLeft">
    <form [formGroup]="changePasswordFormGroup">
      <ng-template matStepLabel>Login Credential Details</ng-template>
      <mat-form-field class="full-width">
        <input matInput placeholder="Password" type="password" formControlName="password"
          [(ngModel)]="password">
        <mat-error *ngIf="changePasswordFormGroup.controls.password.hasError('pattern')">
            <strong>Password length should be between 6 to 13 </strong>
           </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Confirm Password" type="password" formControlName="confirmpassword"
          [(ngModel)]="confirmpassword">
        <mat-error *ngIf="changePasswordFormGroup.controls.confirmpassword.hasError('required')">
          Confirm Password is <strong>required</strong>
        </mat-error>
      </mat-form-field><br />
  
    </form>
  </mat-step>
<mat-step>
    <ng-template matStepLabel>Confirmation</ng-template>
    <mat-label>Click on update  to update all the changes!!</mat-label><br/><br/>
  <div>
    <button mat-raised-button matStepperNext color='primary' type="submit" (click)="onSubmit()">Update</button>
  </div>
</mat-step>
</mat-vertical-stepper>