<a routerLink="/loadWallet">Load Wallet</a>
<a routerLink="/withdrawWallet">Withdraw from Wallet</a>

<div *ngIf="userWallet">
  Your Wallet Details:<br/>
  USD Value: {{ userWallet.usd_value }}<br/>

  <div *ngIf="userWallet.coins">
      Crypto Currencies: <br/>
      <table>
        <thead>
          <th>Coin</th>
          <th>Quantity</th>
          <th>Rate (USD)</th>
          <th>Total (USD)</th>
        </thead>
        <tbody>
          <tr *ngFor="let coin of userWallet.coins">
            <td>{{ coin.coin_name }}</td>
            <td>{{ coin.coin_qty }}</td>
            <td>{{ coin.coin_rate }}</td>
            <td>{{ coin.coin_rate * coin.coin_qty }}</td>
          </tr>
        </tbody>
      </table>
  </div>
  <br/>
  <div *ngIf="userWallet.walletTransactions">
    Wallet Transactions: <br/>
    <table>
      <thead>
        <th>Date</th>
        <th>Transaction Type</th>
        <th>Cryptocurrency</th>
        <th>Coin Quantity</th>
        <th>Value in USD</th>
        <th>Transaction Status</th>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of userWallet.walletTransactions">
          <td>{{ transaction.created_date }}</td>
          <td>{{ transaction.transaction_type }}</td>
          <td>{{ transaction.coin_name }}</td>
          <td>{{ transaction.coin_qty }}</td>
          <td>{{ transaction.usd_value }}</td>
          <td>{{ transaction.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>


</div>
