/*
* scss of login component
**/

mat-card-header{
  margin: 5% 20% 5% 35%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #3F51B5;
}

mat-form-field{
  width:80%;
  margin-left: 10%;

  mat-label{
    font-size: 15px;
  }
}

mat-card-actions{
  width:80%;
  margin-left: 10%;

  button{
    width: 100%;
  }

  mat-label {
    margin-left: 30%;
    font-size: 15px;

    a {
      font-size: 18px;
      color:#3F51B5;
    }
  }
}

.example-form {
    min-width: 250px;
    max-width: 800px;
    width: 100%;
  }
  
.example-full-width {
  width: 100%;
}
 
.md-padding{
  padding-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
}