/*
* scss of login component
**/
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
  width: 100%;
}
 
.md-padding{
  padding-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
}