<!-- Start of the appliction-->
  <mat-card class="my-card md-padding" layout-xs="column" layout="row" layout-align="center center">
    <mat-card-header>
        <mat-label layout-xs="column" layout="row" layout-align="center center"><h1>LOGIN</h1></mat-label>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="errorMessage">
            <div class="alert alert-danger" role="alert">
              {{errorMessage}}
            </div>
          </div>
      <form class="example-form example-full-width">
        <mat-form-field class="full-width">
          <mat-label><b>Email</b></mat-label>
          <!-- 2 way interpolation-->
          <input matInput placeholder="Email" name="username" [(ngModel)]="login.username">
        </mat-form-field><br /><br/>
        <mat-form-field class="full-width">
          <mat-label><b>Password</b></mat-label>
          <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="login.password">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <!-- created  2 buttons , 1 for register and  one for submit-->
      <button mat-raised-button (click)="onSubmit()" color="primary">LOGIN</button>   <br/><br/>   
      <mat-label>Not a User? <a mat-button routerLink="/register"><b>REGISTER</b></a></mat-label><br><br>
      <!-- <a mat-button routerLink="/forgotPassword">Forgot Password??</a> -->
    </mat-card-actions>
  </mat-card>
