<div class="table100 ver1 m-b-110">
  <div class="table100-head">
    <table>
      <thead>
        <tr class="row100 head">
          <th class="cell100 column1">No.</th>
          <th class="cell100 column2">Status</th>
          <th class="cell100 column3">Order Type</th>
          <th class="cell100 column4">Order Placed Date</th>
          <th class="cell100 column5">Order Matched Date</th>
          <th class="cell100 column6">For Coin</th>
          <th class="cell100 column7">For Qty</th>
          <th class="cell100 column8">For Value</th>
          <th class="cell100 column9">To Coin</th>
          <th class="cell100 column10">To Qty</th>
          <th class="cell100 column11">To Value</th>
          <th *ngIf="display" class="cell100 column12">&nbsp;</th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="table100-body js-pscroll">
    <table>
      <tbody>
        <tr class="row100 body" *ngFor="let item of data; let i = index">
          <td class="cell100 column1">{{data.indexOf(item)}}</td>
          <td class="cell100 column2">{{item.status}}</td>
          <td class="cell100 column3">{{item.buy_or_sell}}</td>
          <td class="cell100 column4">{{item.created_date}}</td>
          <td class="cell100 column5">{{item.completion_date}}</td>
          <td class="cell100 column6">{{item.from_coin}}</td>
          <td class="cell100 column7">{{item.from_qty}}</td>
          <td class="cell100 column8">{{item.from_value}}</td>
          <td class="cell100 column9">{{item.to_coin}}</td>
          <td class="cell100 column10">{{item.to_qty}}</td>
          <td class="cell100 column11">{{item.to_value}}</td>
          <td  *ngIf="display" class="cell100 column12">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>&#8942;</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button (click)="cancel($event)" mat-menu-item>
                <span><span class="icon">✖️</span> Cancel</span>
              </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
