.spacer{
  flex: 1 1 auto;
}

table{
  width: 100%;
  border-bottom: 1px solid black;
}

th.mat-header-sorted{
  color:#000000;
}

.mat-table-sticky{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-weight: bold;
  font-size: 18px;
}

tr:hover{
  background: #bbd1e6d3;
}

tr:active{
  background: grey;
}

.order-container{
  overflow: auto;
  height: 400px;

}

.mat-form-field {
  font-size: 14px;
  margin: auto;
  padding-left: 30px;
}
