.spacer{
  flex: 1 1 auto;
}

table{
  width: 100%;
  border: 1px solid black;
}

th.mat-header-sorted{
  color:#000000;
}
tr.mat-footer-row {
  font-weight: bold;
}

.mat-table-sticky{
  border-top: 1px solid #e0e0e0;
}

tr:hover{
  background: #f5f5f5;
}

tr:active{
  background: #efefef;
}

.order-container{
  overflow: auto;
  height: 400px;

}

.mat-form-field {
  font-size: 14px;
  margin: auto;
  padding-left: 30px;
}
