/* Style for Trade-Component */
/* Style for spacing button */
.spacer{
  flex: 1 1 auto;
}

/* Style for the Buy & Sell Tables */
.mat-table{
  width: 95%;
  margin: 2%;
}

/* Style for the table-header when sorted */
th.mat-header-sorted{
  color:#000000;
}

/* Style for the fixing table-header on top */
.mat-table-sticky{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-weight: bold;
  font-size: 18px;
}

/* Style for table-row when it is hovered */
.mat-row:hover, .mat-header-row :hover{
  background: #bbd1e6d3;
}

/* Style for table-row when it is active */
.mat-row:active, .mat-header-row :active{
  background: grey;
}

/* Style for container div for Tabs */
.order-container{
  overflow: auto;
  height: 400px;
}

/* Style for Form-Fields on PLACE-ORDER section */
.mat-form-field {
  font-size: 14px;
  margin: auto;
  padding-left: 30px;
}

/* Style for PLACE-ORDER form */
.placeOrder-form {
  min-width: 150px;
  max-width: 800px;
  width: 100%;
}

.error {
  margin-top: 20px;
  color: red;
  padding: .5em;
  display: block;
  font-size: .9em;
  margin-bottom: 20px;
  font-weight: bold;
}

.requiredSpan{
  color: red;
}

.fromValueClass{
  color: red;
}

.toValueClass{
  color: green;
}

.submitDiv{
  display:flex;
}
.flex-spacer{
  width: 65%;
}
