<mat-card>
  <mat-card-header>
    <mat-card-title>Load Wallet</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="loadWallet()">

      <mat-label>Coin Name:</mat-label>
      <mat-form-field>
        <mat-select *ngIf="coins" [(ngModel)]="selectedCoinName" (selectionChange)="getCurrentCoinRate()"
          name="coin_name">
          <mat-option *ngFor="let coin of coins" [value]="coin.coin_name">
            {{ coin.coin_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <div *ngIf="selectedCoin">
        <label>Current Rate: </label>{{ selectedCoin.coin_rate }}
      </div>

      <label>Quantity: </label>
      <input type="number" [(ngModel)]="walletTransaction.coin_qty" name="coin_qty" (change)="updateUSDValue()" />

      <br />

      <label>USD Value: </label>
      <input type="number" [(ngModel)]="walletTransaction.usd_value" name="usd_value" readonly />

      <br />

      <button type="submit">Load Wallet</button>

    </form>
  </mat-card-content>
</mat-card>
