mat-horizontal-stepper {
    margin: 2% 10%;
}


mat-step {
    margin-left: 15%;
    margin-top: 2%;
}

.full-width {
    width: 30%;
    margin-left: 12%;
    margin-top: 5%;
}

button {
    margin-right: 5%;
}