<mat-drawer-container class="example-container">
  <mat-drawer [@fadein]="display" mode="over" [opened]="isToggled" (mouseleave)="toggle()">
    <h2>Menu</h2>
    <ul>
      <li routerLinkActive="pressed" *ngFor="let tab of tabs; let i = index" >
        <a [routerLink]="urls[i]">{{tab}}</a>
        <span *ngIf="i===4" [matBadge]="noOfPings" matBadgeOverlap="false"></span>
      </li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <div>
      <h2 style=" cursor: pointer; "(click)="toggle()">☰</h2>
      <h2>Husky Coin</h2>
    </div>
    <div class="background">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>

</mat-drawer-container>
