<mat-drawer-container class="example-container">
  <mat-drawer mode="over" [opened]="isToggled" (mouseleave)="toggle()">
    <h2>Menu</h2>
    <ul>
      <li routerLinkActive="pressed" *ngFor="let tab of tabs; let i = index" ><a [routerLink]="urls[i]">{{tab}}</a></li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <div>
      <h2 style=" cursor: pointer; "(click)="toggle()">☰</h2>
      <h2>Husky Coin</h2>
    </div>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
