.example-container {
  border-right: 2px solid #555;
  height: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  font-weight: bold;
}
mat-drawer{
  background-color: #c6cbef;
  text-align: center;
  min-width: 220px;
  h2{
    cursor: pointer;
    margin: 0;
    padding: 15px 20px;
    border: 2px solid #494ca2;
    background-color: #494ca2;
  }
  li{
    border: 1px solid #c6cbef;
    margin: 0;
    padding: 15px 20px;
    background-color: #c6cbef;
    border-bottom: 1px solid #cbf1f5;
  }
  li:hover{
    cursor: pointer;
    border-radius: 10px;
    border: 1px 1px 1px 0 solid #b8b2a6;
    // border-bottom: 1px solid #cbf1f5;
    background-color: #b8b2a6;
  }
}
mat-drawer-content{
  &>div{
    width: 100%;
    background-color: #494ca2;
    &>h2{
      margin: 15px 20px;
      display: inline-block;
    }
  }
}
a{
  text-decoration: none;
  color: #1c819e;
}
.pressed{
  border: 1px solid #ffc3e7;
  background-color: #ffc3e7;
  color: #fb3569;
}

router-outlet{
  background-color: #b8b2a6;
}
